<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Nutri-Find</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    {{{ body }}}

    <script src="/public/assets/js/nutri.js"></script>
</body>

</html>