<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />

    <title>Nutri-Find</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    {{{ body }}}
    <script src="/assets/js/users.js"></script>
    <script src="/assets/js/nutri.js"></script>

</body>

</html>