<form class="container">
    <div class="flex flex-wrap justify-center -mx-3 mb-6 ">
        <div class="w-full md:w-2/3 px-3 m-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold m-3" for="grid-first-name">
                <h4 class="formText">Recipe Name</h4>
            </label>
            <input
                class="shadow-inner w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-4 leading-tight focus:outline-none focus:bg-white"
                id="recipeName" type="text" placeholder="Recipe Name">

        </div>
        <div class="w-full md:w-2/3 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="ingredients">
                <h4 class="formText">Ingredients</h4>
            </label>
            <textarea name="" id="iInput" cols="30" rows="10"
                class="shadow-inner w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name" type="text">
                </textarea>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6 justify-center">
        <div class="w-full md:w-2/3 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="directions">
                <h4 class="formText">Directions</h4>
            </label>
            <textarea name="directions" cols="30" rows="10"
                class="shadow-inner w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="dInput" type="text">
           </textarea>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2 justify-center">

        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                <h4 class="formText">User Name</h4>
            </label>
            <div class="relative">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-state">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
            </div>
        </div>

    </div>
    <button type="submit" id="submitRecipe"
        class=" bg-gray-100 hover:bg-red-700 text-red-500 font-bold py-2 px-4 mb-4 rounded">
        Create recipe</button>
</form>