<!--Output the recipeName, Ingredients, Directions, and user string-->
     {{#each recipeName}}
            <li>
            <p>Recipe: {{recipeName}}</p>
            <p>Ingredients: {{ingredients}}</p>
            <p>Directions: {{directions}}</p>
            <p>Created By: {{user}}</p>
            </li>
        {{/each}}
    </ul>