<h1>Nutri-Find</h1>

<div class="main">
 <form class="create-form">
        <div class="form-group">
            <label for="ns"></label>
            <input type="text" id="bu" name="item_name" placeholder="Enter a diet to find a recipe!">
    </input>
        </div>
    </form>
   
    </div>
     <button class="add" type="click">SUBMIT</button>
    <h4 class="findText">Find a recipe</h4>