<h1>Revised Recipes</h1>

<div class="revised">
    <ul>
        {{#each revised}}
            <li>Recipe: {{this.id}}</li>
            <li>Ingredients: {{this.ingredients}}</li>
            <li>Url: </li> 
            <li>{{notes}}</li>
        {{/each}}
    </ul>
</div>

