 <h1>Sign In</h1>
{{!-- {{#content "body"}} --}}
<p>
{{!-- {{#each name}} 
{{this.id}}. {{this.name}} --}}
<button data-planid="" class="submit">Submit</button>
</p>
<label id="" class="button-size"> 
    <p></p>
    <textarea type="text" name="name"></textarea>
    <button type="submit">SignIN</button>
</label>
 
<h1> NutriFind Sign IN </h1>
<ul>
  
    <li>
      <p><span class="label"><h2>Welcome</h2></span> </p>
      <a href="/">SignIn different User</a>
    </li>
  
</ul>
<h1> Sign In Here</h1>
<form class="form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="nameform" name="fullname">
  </div>
<button type="submit">SignIN</button>
</form>
update sign in to new user 
<form data-id="" class="signin-form">
<div class="form-group">
    <label for="name">name:</label>
    <input type="text" id="name1" name="fullname" value="">
  </div>
    <button type="submit">Sign IN</button>
</form> 
