<h1>Sign-In</h1>
<div class="input flex justify-center">
  <input
    class="table-auto flex justify-center content-center align-center shadow-inner  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
    id="user-name" placeholder="Enter your name" type="text" />
  <button type="submit" class="user-btn bg-red-500 hover:bg-red-700 text-white font-bold p-3 m-2 rounded">

    Sign-In</button>
</div>
<ul class="userNames flex justify-center align-center content-center">

  {{#each user}}
  <li class="userLi flex content-center align-center justify-center m-2 animated flipInY">
    <p class="mt-2">User Name: {{this.dataValues.user_name}}</p>
    <button type="submit" id="destroy"
      class="bg-red-500 hover:bg-red-700 text-white font-bold  rounded p-2 absolute bottom-0 left-0"
      data-id="{{this.dataValues.id}}">Delete User</button>
    <button class="go absolute bottom-0 right-0 p-2 hover:bg-red-700"><a href="/create">Create a recipe</a></button>
  </li>
</ul>
{{/each}}