<h1>Sign-In</h1>

<div class="user-container flex justify-center content-center items-center">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2"># of Recipes</th>
        <th class="px-4 py-2">See users Recipes</th>
        <th class="px-4 py-2">New Recipe</th>
        <th class="px-4 py-2">Delete User</th>
      </tr>
    </thead>
    <tbody>
      <tr id="form-row">
        <form id="user-form">
          <td colspan="4" class="border px-4 py-2">
            <input id="user-name" placeholder="Enter your name" type="text">
          </td>
          <td>
            <button type="submit" class="user-btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Create User</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>
</div>