body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/background.jpg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  overflow-x: hidden;
}
.logo {
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}

h1 {
  margin-top: 120px;
  font-size: 4rem;
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 5px;
}

.main,
.create-form,
.add {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px auto;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.add:hover {
  transform: scale(1.1);
  transition: ease-in-out, 0.7s;
}

.label-name {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  color: White;
  text-shadow: 1px 1px 1px black;
}

.recipe-display {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  position: absolute;
}

#recipeLink {
  text-align: center;
  margin-top: 150px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-size: 2rem;
  color: rgb(82, 186, 103);
  text-shadow: 1px 1px 1px rgba(36, 36, 36, 0.529);
  position: absolute;
}

#recipe-icon {
  border: 1px solid rgb(31, 28, 28);
}

a:hover {
  transform: scale(1.2);
  transition: ease-in-out, 0.5s;
}

th {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.navText {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.container {
  margin: 50px auto auto auto;
  justify-content: center;
  box-shadow: -3px -3px 10px rgba(158, 153, 153, 0.74),
    3px 3px 10px rgba(100, 99, 99, 0.685);
  background-image: radial-gradient(
    circle,
    #f57374,
    #f06768,
    #ea5b5c,
    #e44f4f,
    #de4243
  );
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  contain: content;
  overflow-x: auto;
}
.formText {
  font-size: 1.7rem;
  color: rgb(236, 227, 227);
}
.userLi {
  margin: 50px auto auto auto;
  justify-content: center;
  box-shadow: -3px -3px 10px rgba(158, 153, 153, 0.74),
    3px 3px 10px rgba(100, 99, 99, 0.685);
  background-image: radial-gradient(
    circle,
    #f57374,
    #f06768,
    #ea5b5c,
    #e44f4f,
    #de4243
  );
  opacity: 0.9;
  border-radius: 10px;
  font-size: 1.4rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  height: 200px;
  width: 350px;
}

.recipeContainer {
  margin: 5px auto;
  width: 350px;
  height: auto;
  background-image: radial-gradient(
    circle,
    #f57374,
    #f06768,
    #ea5b5c,
    #e44f4f,
    #de4243
  );
  box-shadow: -3px -3px 10px rgba(158, 153, 153, 0.74),
    3px 3px 10px rgba(100, 99, 99, 0.685);
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
}
.recipePreview {
  margin: 5px auto;
  width: 200px;
  height: auto;
  box-shadow: -3px -3px 10px rgba(158, 153, 153, 0.74),
    3px 3px 10px rgba(100, 99, 99, 0.685);
  background-image: radial-gradient(
    circle,
    #f57374,
    #f06768,
    #ea5b5c,
    #e44f4f,
    #de4243
  );
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
}

.recipePreview,
.recipeText {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4rem;
}

.buttons {
  display: flex;
  justify-content: center;
}
#show,
#hide {
  border: 0.5px solid rgba(56, 55, 55, 0.404);
  box-shadow: 2px 3px 5px rgba(39, 39, 39, 0.637);
  margin: 10px auto;
  font-family: "Bebas Neue", cursive;
}

#destroy,
.go {
  box-shadow: -3px -3px 8px 0 rgb(235, 119, 119), 3px 3px 8px 0 rgb(170, 63, 63);
}

#show {
  background-color: #00b576;
}
#hide {
  background-color: #998aff;
}
